<!DOCTYPE html>
<html>
  <head>
    <title>show images</title>
  </head>
  <body>
    <div class="content">
        <div>
          <h3>Here are the video files:</h3>
          <ul>
            {% for item in contents %}
              <!-- <li>
                 <p>{{ item }}</p>
                <a href="/{{ item.Key }}"> {{ item.Key }} </a> -->
                <!-- <img src={{ item }} style="width: 250px"> -->
              <!-- </li> --> -->
              <video width="400px" height="400"  loop="true" autoplay="autoplay" controls muted>
                <source src={{ item }} type="video/mp4">
              Your browser does not support the video tag.
              </video>
            {% endfor %}
          </ul>
        </div>
    </div>
  </body>
</html>



